<p>
  <%= @greeting %>,
</p>
<p>
  <%= @username %> (<%= @name %>) has submitted a Contribution License Agreement form on cla.process-one.net. We now have to send him/her attached pdf file through Xodo Sign using this email address : <%= @email %>
</p>
<p>
  Regards
</p>
