<div class="page-header">
  <h1>Thank you, <%= @name %></h1>
</div>

<p class="lead">Please note that the email containing the link to view and electronically sign <%= agreement_name %> via Xodo Sign is not sent automatically. It will be manually sent to <mark><%= @email %></mark> by our team within 72 hours, following an internal review. </p>

<p>
  <a class="btn btn-link" href="/status">View status &raquo;</a>
</p>
